.vtex-tab__button {
  border: none;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.vtex-tabs__nav {
  border: none;
}

.vtex-tabs__content,
.vtex-tab__button.c-on-muted {
  background: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.vtex-tabs__content {
  padding: 2rem 1.6rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.vtex-tabs__content .vtex-input-prefix__group {
  margin-bottom: 1rem;
}

.vtex-input-prefix__group input {
  font-size: 0.85rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.vtex-input__label {
  color: #727273;
  font-size: 0.85rem;
}

.vtex-tabs__content button {
  width: 100%;
}

.input--icon-right input {
  padding-right: 4rem;
  text-overflow: ellipsis;
}

.input--icon-left input {
  padding-left: 4rem;
  text-overflow: ellipsis;
}

.input-icon {
  font-size: 0.85rem;
  color: #3f3f40;
}

.input-icon--location img {
  border-left: 1px solid #f1f1f2;
}

.input--icon-left img {
  width: 18px;
}

.input--icon-left .input-icon {
  top: 1.4rem;
}