.vtex-address-locator .vtex-tab__button {
  border: none;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.vtex-address-locator .vtex-tabs__nav {
  border: none;
}

.vtex-address-locator .vtex-tabs__content,
.vtex-address-locator .vtex-tab__button.c-on-muted {
  background: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.vtex-address-locator .vtex-tabs__content {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.address-search .vtex-input-prefix__group, .vtex-address-locator__address-redeem .vtex-input-prefix__group {
  margin-bottom: 1rem;
}

.address-search .vtex-input-prefix__group input, .vtex-address-locator__address-redeem .vtex-input-prefix__group input {
  font-size: .85rem;
  text-overflow: ellipsis;
}

.address-search .vtex-input__label, .vtex-address-locator__address-redeem .vtex-input__label {
  color: #727273;
  font-size: 0.85rem;
}

.input--icon-right input {
  padding-right: 4rem;
  padding-left: 1rem;
}

.input--icon-left input {
  padding-left: 4rem;
  padding-right: 1rem;
}

.input-icon {
  top: 1.4rem;
  font-size: .85rem;
  color: #3f3f40;
}

.input-icon--location img {
  border-left: 1px solid #f1f1f2;
}

.input-icon--brazil img {
  width: 19px;
}

.address-manager__bar {
  background: #25354d;
}

.address-manager__address {
  flex: 1;
  text-overflow: ellipsis;
}

/* AddressManager component */
.vtex-modal__modal, .vtex-modal__overlay {
  padding: 0!important;
}

.vtex-modal__modal {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 0;
}

.pac-container {
  z-index: 10001;
}

.input--icon-left .input-icon {
  top: 1.4rem;
}

.vtex-profile-form__homePhone {
  padding-bottom: 0;
}


/* AddressList component */
.vtex-address-locator__address-list {
  background: #f2f4f5;
}

@media (min-width: 768px) {
  .vtex-modal__modal {
    height: auto;
    top: 6rem;
  }
}